
<div class="flex flex-column justify-content-center  bg-teal-500 h-screen" >
    <div class="w-full   flex justify-content-center card-container">
    <div>

    <div class="rounded-full shadow-xl bg-white p-8  card">
        
        <h1 class="text-center">Iniciar sesion</h1>
        <div class="w-full text-center">
            <i class="pi pi-lock text-8xl m-4"></i>
            
        </div>
        <form action="" class="text-center">
            <div class="p-inputgroup m-2">
                <span class="p-inputgroup-addon w-11rem ">
                Usuario:
                </span>
                <input pInputText placeholder="Username" class=""/>
            </div>
            <div class="p-inputgroup m-2">
                <span class="p-inputgroup-addon w-11rem">
                Contraseña:
                </span>
                <input pInputText placeholder="Password " class="" />
            </div>
            <p class="text-left">¿Contraseña olvidada? Click aqui</p>
            <p-button routerLink="citas" routerLinkActive="active" label="Ingresar" styleClass="p-button-success p-button-text text-2xl"></p-button>
        </form>
    </div>
    </div>
</div>
</div>