
<div class="card m-2">
    <div class="flex flex-wrap md:justify-content-between justify-content-center card-container">
        <div class="bg-teal-500 text-5xl text-bluegray-900 font-semibold border-round m-2 flex align-items-center justify-content-center" style="min-width: 99%; min-height: 100px">Gestion de Pacientes</div>
    </div>
</div>
<div class="formgrid grid m-2">
<div class="w-20rem">
<form action="">
    
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Nombre" [(ngModel)]="paciente.nombre" name="nombre"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Apellido" [(ngModel)]="paciente.apellido" name="apellido"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="DNI"  [(ngModel)]="paciente.dni" name="dni"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Direccion"  [(ngModel)]="paciente.direccion" name="direccion"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Telefono"  [(ngModel)]="paciente.telefono" name="telefono"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Edad"  [(ngModel)]="paciente.edad" name="edad"/>
    </div>
    <div class="p-inputgroup m-2">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Correo"  [(ngModel)]="paciente.correo" name="correo"/>
    </div>
    <p-button label="Registrar" styleClass="p-button-outlined m-2" (onClick)="crearPaciente()"></p-button>
</form>
</div>
<div class="w-8">
<p-table [value]="pacientes" [tableStyle]="{ 'min-width': '50vw' }">
    <ng-template pTemplate="header">
        <tr>

            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Edad</th>
            
            <th>Correo</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pacientes>
        <tr>

            <td>{{ pacientes.nombre }}</td>
            <td>{{ pacientes.apellido }}</td>
            <td>{{ pacientes.dni }}</td>
            <td>{{ pacientes.direccion }}</td>
            <td>{{ pacientes.telefono}}</td>
            <td>{{ pacientes.edad}}</td>
            <td>{{ pacientes.correo}}</td>
            <td><p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-info p-button-text p-button-raised" (onClick)="showDialog(pacientes.id)"></p-button>
            </td>
            <td><p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised" (onClick)="eliminarPaciente(pacientes.id)"></p-button>
            </td>
            

        </tr>
    </ng-template>
</p-table>
</div>
</div>
<p-dialog [(visible)]="display" [style]="{width: '25vw'}">
    <h3>Actulizar datos</h3>
    <form action="">
        <div class="p-inputgroup m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Nombre" [(ngModel)]="paciente.nombre" name="nombre"/>
        </div>
        <div class="p-inputgroup m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Apellido" [(ngModel)]="paciente.apellido" name="apellido"/>
        </div>
        <div class="p-inputgroup m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="DNI" [(ngModel)]="paciente.dni" name="DNI"/>
        </div>
        <div class="p-inputgroup m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText placeholder="Telefono" [(ngModel)]="paciente.telefono" name="Telefono"/>
        </div>
        <div class="p-inputgroup m-2">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input pInputText text="HOLA" placeholder="Edad" [(ngModel)]="paciente.edad" name="Edad"/>
        </div>
        <p-button label="Atualizar" styleClass="p-button-outlined p-button-success m-2" (onClick)="actualizarPaciente(paciente.id)"></p-button>

    </form>   
</p-dialog>